body,p{
  font-size: 18px;
}

/* Devices (phones, up to 767px) */
@media screen and (max-width: 767px) {
	body,pbody,p
	{
		font-size: 14px;
	}
}

/* Small devices (tablets, 768px and upto 939px) */
@media (min-width: 768px) and (max-width: 939px) {
	body,p
	{
		font-size: 16px;
	}
}

/* tablets/desktops and upto 1199px */
@media (min-width: 940px) and (max-width: 1199px) {
	body,p
	{
		font-size: 20px;
	}
}

/* large desktops and above 1200px */
@media screen and (min-width: 1200px) {
	body,p
	{
		font-size: 22px;
	}
}

	